################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EFtask/v16
/.vs/EnFramework/v16/Server/sqlite3
/.vs/EnFramework/v16
/.vs
/EnFramework/bin/Debug/netcoreapp2.2
/EnFramework/obj
